<div class="container-fluid container-fluid-custom pb-5 mb-5">
  <div class="row">
    <% if (search !='' ) { %>
      <% search.forEach((note, index)=> { %>
        <a href="/dashboard/item/<%= note._id %>">
          <h4>
            <%- note.title %>
          </h4>
          <%- note.content %>
        </a>
        <small><%- note.createdAt %></small>
        <% }) %>
          <% } else { %>
            <p>Not items found !! for <span class="highlight">
                <%= searchTerm + '__' %>
              </span>
            </p>
            <% } %>
  </div>
</div>